.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* 영화 관련 배경 이미지 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: white;
}

.forgot-password {
    font-size: 12px;
    color: #868686;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.signin-form {
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#email {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#password {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.signin-button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    background-color: #e50914;
    transition: background-color 0.3s;
}

.signin-button:disabled {
    background-color: #e50914be;
    cursor: not-allowed;
}

.signin-button:hover {
    background-color: #f40612;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.gender-group {
    margin-bottom: 15px;
}

.gender-options {
    display: flex;
    justify-content: space-between;
}

.gender-option {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.gender-option input {
    margin-right: 5px;
}
